.Container {
  margin: 14px auto 0;
  padding: 0;
  width: 80%;
  text-align: left;
  font-size: 1.35rem;
  color: var(--PrimaryColor);
}
:root {
  --PrimaryColor: #d20442;
  --SecondaryColor: #e1e1e1;
  --ThirdColor: #8a8a8a;
  --FourthColor: #0000;
  --GradientColor: linear-gradient(to right, #bdc3c7, #2c3e50);
  --BodyColor: rgb(198, 204, 209);
  --PrimaryColorHover: #ac0436;
}
