:root {
  --PrimaryColor: #d20442;
  --SecondaryColor: #e1e1e1;
  --ThirdColor: #cacaca;
  --greyColor: #cfcdcd;
  --FourthColor: #0000;
  --GradientColor: linear-gradient(to right, #bdc3c7, #2c3e50);
  --BodyColor: rgb(198, 204, 209);
  --PrimaryColorHover: #ac0436;
}

.main {
  width: 100%;

  .secTitle {
    .title {
      position: relative;
      color: var(--PrimaryColor);
      margin: 1rem 0;
      line-height: 2.5rem;
      z-index: 2;

      &::after {
        position: absolute;
        content: "";
        background: var(--PrimaryColor);
        height: 5px;
        width: 120px;
        right: 0;
        bottom: 5px;
        z-index: -1;
      }
    }
  }

  .secContent {
    justify-content: center;
    gap: 1.5rem;

    .singleDestination {
      height: 100%;
      display: grid;
      row-gap: 10px;
      border-radius: 10px;
      align-items: center;
      background-color: var(--greyColor);
      box-shadow: 0 2px 12px rgb(140, 140, 141, 0.5);
      overflow: hidden;
    }
    .btn {
      border-radius: 18px;
    }
  }
}
