:root {
  --PrimaryColor: #d20442;
  --PrimaryColorHover: #ac0436;
  --SecondaryColor: #e1e1e1;
  --ThirdColor: #8a8a8a;
  --FourthColor: #0000;
  --GradientColor: linear-gradient(to right, #bdc3c7, #2c3e50);
  --BodyColor: rgb(198, 204, 209);
}
.carousel-main {
  position: relative;
}
.home {
  width: 100%;
  // position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  bottom: 500px;
  right: 400px;
  z-index: 1000;
  color: var(--PrimaryColor);
  margin: 0 auto;

  h1 {
    font-weight: 900;
  }
}
