@import url("https://fonts.googleapis.com/css2?family=Alkalami&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1 {
  font-size: 3rem;
  font-weight: 600;
}
.logo {
  color: white;
  font-family: "Alkalami";
}
:root {
  --PrimaryColor: #d20442;
  --SecondaryColor: #e1e1e1;
  --ThirdColor: #8a8a8a;
  --FourthColor: #0000;
  --GradientColor: linear-gradient(to right, #bdc3c7, #2c3e50);
  --BodyColor: rgb(198, 204, 209);
  --PrimaryColorHover: #ac0436;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: white;
}

li {
  list-style: none;
}

.section {
  padding: 4rem 0 2rem;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.icon {
  font-size: 2rem;
  cursor: pointer;
}
.flex {
  display: flex;
  align-items: center;
}
.grid {
  display: grid;
  align-items: center;
}

.btn {
  margin-top: 1rem;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.7rem;
  transition: all 0.2s ease-in-out;
  background: var(--PrimaryColor);
  color: white;
}
.btn a {
  color: white;
  font-size: 1.5rem;
}
.btn:hover {
  background-color: #a80234;
}
img,
video {
  width: 100%;
  height: auto;
}
input {
  font-size: 100%;
}

body {
  background: var(--BodyColor);
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
}
